{% extends "rec_app/base.html" %}

{% block content %}
<h2 align = Center>Your Rated Movies - (Count - {{ ratedmoviescount }})</h2><br>

<section id="gridSystem">
{% for movie,movieindx,rate in movies %}
	<div class="row">
		<div class="span2">
        	<div class="well">
	           	<img id ="poster{{movieindx}}" height="150" width="150">
          	</div>
        </div>
        <div class="span8">
        	<div class="well">
        		<p>Movie Title : <span id="title{{movieindx}}"></span><strong> (You rated - {{ rate }})</strong><br></p>
				<label>Release Date : <span id="released{{movieindx}}"></span> (<span id="country{{movieindx}}"></span>)</label>
            	<label>Rated : <span id="rated{{movieindx}}"></span> &nbsp|&nbsp Runtime : <span id="runtime{{movieindx}}"></span> &nbsp|&nbsp Genre : <span id="genre{{movieindx}}"></span></label>
            	<label>Actors : <span id="actors{{movieindx}}"></span></label>
            	<label>Director : <span id="director{{movieindx}}"></span></label>
            	<label>Plot : <span id="plot{{movieindx}}"></span></label>
            	<label>IMDB Rating : <span id="imdbrating{{movieindx}}"></span></label>
			</div>
        </div>

		{% block javascript %}
			<script src="/static/js/jquery.js"></script>
		  	<script>
			  	var movie_title_with_year = "{{ movie }}";
			  	if(movie_title_with_year === "One Flew Over the Cuckoo&#39;s Nest (1975)")
			  		movie_title_with_year = "One Flew Over the Cuckoo's Nest"

			  	if(movie_title_with_year.indexOf(',') > -1)
					var movie_title_with_trailing_whitespace = movie_title_with_year.split(",");
				else
				  	var movie_title_with_trailing_whitespace = movie_title_with_year.split("(");

				var movie_title_final = movie_title_with_trailing_whitespace[0].trim();
			  	
			  	url = 'http://www.omdbapi.com/?apikey=d6793999&t='+movie_title_final+'';
			  	if(movie_title_final != undefined && movie_title_final != "") {
			  		fetch(url)
						.then(response => response.json())
					  	.then(function (data) {
					  			console.log(data.Response);
					  			if(data.Response != "False"){
						  			$('#title{{movieindx}}').html(data.Title);
						  			$('#year{{movieindx}}').html(data.Year);
						  			$('#country{{movieindx}}').html(data.Country);
						  			$('#rated{{movieindx}}').html(data.Rated);
						  			$('#released{{movieindx}}').html(data.Released);
						  			$('#genre{{movieindx}}').html(data.Genre);
						  			$('#runtime{{movieindx}}').html(data.Runtime);
						  			$('#director{{movieindx}}').html(data.Director);
						  			$('#actors{{movieindx}}').html(data.Actors);
						  			$('#plot{{movieindx}}').html(data.Plot);
						  			$('#imdbrating{{movieindx}}').html(data.imdbRating);
						  			$("#myimage").attr('src','img url');
						  			if(data.Poster != "N/A"){
						  				$('#poster{{movieindx}}').attr('src', data.Poster);
						  			}
						  			else{
						  				$('#poster{{movieindx}}').attr('src', "/static/img/no-image.png");
						  			}
					  			}
					  			else{
					  				$('#title{{movieindx}}').html(movie_title_final);
						  			$('#year{{movieindx}}').html("N/A");
						  			$('#country{{movieindx}}').html("N/A");
						  			$('#rated{{movieindx}}').html("N/A");
						  			$('#released{{movieindx}}').html("N/A");
						  			$('#genre{{movieindx}}').html("N/A");
						  			$('#runtime{{movieindx}}').html("N/A");
						  			$('#director{{movieindx}}').html("N/A");
						  			$('#actors{{movieindx}}').html("N/A");
						  			$('#plot{{movieindx}}').html("N/A");
						  			$('#imdbrating{{movieindx}}').html("N/A");
						  			$("#myimage").attr('src','img url');
						  			if(data.Poster != "N/A"){
						  				$('#poster{{movieindx}}').attr('src', "/static/img/no-image.png");
						  			}
						  			else{
						  				$('#poster{{movieindx}}').attr('src', "/static/img/no-image.png");
						  			}	
					  			}
						    	
					    });
				}

		  	</script>
		{% endblock %}
	</div>
{% endfor %}
</section>

{% endblock content %}
